/* Styles for the login container */
/* Define keyframes for background animation */
@keyframes animatedBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Apply animated background to the body */
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set full height of viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Fallback background color */
    background-image: linear-gradient(45deg, #4e54c8, #8f94fb, #4e54c8, #8f94fb);
    background-size: 400% 400%; /* Make the background larger to see the animation effect */
    animation: animatedBackground 10s linear infinite;
    overflow: hidden; /* Hide overflow content outside the body */
}


.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    transition: transform 0.3s ease;
}

/* Hover effect for the login container */
.login-container:hover {
    transform: translateY(-5px);
}

/* Styles for the login form */
#login-form {
    margin-top: 20px;
}

/* Styles for form inputs */
input[type="email"],
input[type="password"],
button {
    display: block;
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

/* Styles for the login button */
button {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Styles for the sign up link */
p {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
