:root {
	--red: rgb(255, 0, 0);
	--yellow: rgb(255, 255, 0);
	--green: rgb(0, 255, 0);
}

*::-webkit-scrollbar {
	display: none;
}

@keyframes background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: white;
	list-style-type: none;
}

html,
body {
	background: #060606;
}



.panels {
	overflow: scroll;
	height: 100vh;
	width: 100%;
	scroll-snap-type: y mandatory;
}

.panel {
	box-shadow: 40px red;
	scroll-snap-align: start;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	background: #1d1e22;

}

.clip {
	position: sticky;
	height: 0;
	/* background:red; */
	width: 100%;
	top: 0;
	margin-bottom: 0;
}





#panel_1 {
	background-color: black;
}

.bg {
	/* background-color: red; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	pointer-events: none;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	place-items: center;

}

.hero {
	color: white;
	font-family: "Bebas Neue";
	font-size: 10em;
	pointer-events: none;
	margin: 0px;
	font-weight: 900;	
	transform: translateY(400);	
}

h1>#zen {

	animation: background-pan 3s linear infinite;
	background: linear-gradient(to right,
			var(--red),
			var(--yellow),
			var(--green),
			var(--red));
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}

.text
{
	width:100vw;
	filter: blur(5px);

}

.navbar
{
	position: absolute;
	height: 15vh;
	width: 100vw;
	/* background-color: black; */
	z-index: 9999;
	top:0%;
}

#humane
{
	padding: 1%;
	width: 40%;
}



#signup-button {
	position: absolute;
	transform: translateY(20px);
	width:150px;
	height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
	font-family: "Bebas Neue";
	left: 90%;
}

#login-button {
	position: absolute;
	transform: translateY(20px);
	width:150px;
	height: 50px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
	font-family: "Bebas Neue";
	left: 80%;
}
body {
	background-color: black;
	height: 100vh;
	margin: 0rem;
	overflow: hidden; 
  }
  
  @keyframes rotate {
	from {
	  rotate: 0deg;
	}
	
	50% {
	  scale: 1 1.5;
	}
	
	to {
	  rotate: 360deg;
	}
  }
  
  #blob {
	background-color: white;
	height: 34vmax;
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 50%;
	background: linear-gradient(to right, aquamarine, mediumpurple);
	animation: rotate 20s infinite;
	opacity: 0.8;
  }
  
  #blur {
	height: 100%;
	width: 100%;
	position: absolute;
	/* z-index: 2; */
	backdrop-filter: blur(12vmax);
  }
  
.logo
{
	display: flex;
	flex-direction: column;
}

.navbar
{
	display: flex;

}
