::-webkit-scrollbar
{
    display: none;
}

body
{
    /* display: flex; */
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: black;
}

.lists
{
    border: 2px white solid;
    width: 26.66vw;
    border-radius: 20px;
    background-color: #141414;
    margin: 10px;
}

container
{  
    height: 100vh;
    width: 100vw;
    display: flex;
    place-items: center;
    justify-content: center;
    /* border: solid white 2px; */
    
}

.container
{
    /* overflow: hidden; */
    display: flex;
    /* border: solid white 2px; */
    height:60vh;
    width:80vw;
    border-radius: 20px;
}

h1{
    color: white;
    margin-left: 10px;
}

hr
{
   background-color: white;
   border: white solid 2px;
   width: 100%;
}

#todo
{
    font-family: "Bebas Neue";
    color: red;
}

#doing
{
    font-family: "Bebas Neue";
    color: yellow;
}

#done
{
    font-family: "Bebas Neue";
    color: green;
}

ul
{
    list-style-type: none;
    place-items: center;
}

.btn
{
    margin-bottom: 20px;
    width: 20vw;
    font-family: "Bebas Neue";
    color: white;
    background-color: #000000;
    border-radius: 20px;
    height: 10vh;

    /* overflow: hidden; */
}

#page2
{
    width: 100vw;
    height: 100vh;
}

#navbar {
    position: relative;
    width: 100vw;
    height: 7%;
    background-color: #141414;
    margin: 0px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
  

#humane
{
    width: 15%;
    padding: 10px;
}

#trash
{
    height: 5vh;
    transform: translateX(-30px);
    color: white;
}

#adt
{
    position: sticky;
    transform: translateX(-85px);
    border-radius: 20px;
    background-color: white;
    font-family: "Bebas Neue";
    font-size: 2em;
    width:10%;
    
}
#trash:hover
{
    height: 10vh;
    /* pointer-events: none; */
}

