:root {
	--red: rgb(255, 0, 0);
	--yellow: rgb(255, 255, 0);
	--green: rgb(0, 255, 0);
}

*::-webkit-scrollbar {
	display: none;
}

@keyframes background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: white;
	list-style-type: none;
}

html,
body {
	background: #060606;
}



.panels {
	overflow: scroll;
	/* // will kill scrollTrigger if scroller: ".panels" is not set
		// required for scroll-snap // dev remove on last panel for content after? */
	height: 100vh;
	width: 100%;
	scroll-snap-type: y mandatory;
}

.panel {
	box-shadow: 40px red;
	scroll-snap-align: start;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	background: #1d1e22;

}

.clip {
	/* position: sticky; */
	height: 0;
	/* background:red; */
	width: 100%;
	top: 0;
	margin-bottom: 0;
}


h2 {
	position: absolute;
	top: 0;
	margin: 0;
	padding: calc(100vh - 64px) 50px 0;
	z-index: 3;
	left: 0;
}

.tint {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
	width: 100vw;
	height: 100vh;
	z-index: 2;
	pointer-events: none;
}

img {
	/* border-top:1px solid red; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center center;
	z-index: 1;
}

#panel_1 {
	background-color: black;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	pointer-events: none;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	place-items: center;

}

.hero {
	color: black;
	font-family: "Bebas Neue";
	font-size: 10em;
	pointer-events: none;
	margin: 0px;
	font-weight: 900;
}

h1>#zen {

	animation: background-pan 3s linear infinite;
	background: linear-gradient(to right,
			var(--red),
			var(--yellow),
			var(--green),
			var(--red));
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}

#subtitle {
	color: white;
	font-family: "Teko";
	font-size: 2em;
	margin-top: 0px;
	font-weight: 700;
	/* transform: translateY(-111px) */
	;

}

#overlay-section {
	height: 100vh;
	width: 100vw;
	background-color: blue;
	/* margin-top: 10%; */
	bottom: 0;
	/* z-index: 15; */

}

#subtitle {
	color: white;
	font-family: "Teko";
	font-size: 2em;
	margin-top: 0px;
	/* transform: translateY(-111px) */
	;

}

#intro {
	/* padding-left: 5%; */
	font-family: "Oswald";
	font-weight: 600;
	color: white;
	font-size: 4em;
}

#things {
	/* position: absolute; */
	width: 100vw;
	height: 100vh;
	background-color: yellow;

}

#tdl {
	font-family: Oswald;
	font-size: 4em;
	color: black;
}

.wrapper {
	/* overflow-x: hidden; */
	position: relative;
}

.containerr {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	width: 300vw;
	overflow-x: auto;
}

.card {
	font-family: "Oswald", sans-serif;
	text-align: center;
	color: white;
	padding: 10px;

}

#todo {
	background-color: red;
	color: white;
	border: 3px solid black;
	margin-bottom: 1px;
}

#doing {
	background-color: yellow;
	border: 3px solid black;
	margin-bottom: 1px;
}

#done {
	background-color: green;
	border: 3px solid black;
	color: white;
	margin-bottom: 1px;
}

section {
	width: 100vw;
	padding: 20vw 10vw;
}

.listss{
	width:100vw	;
}

.sortable-list {
	border: 2px solid black;
	padding-right: 10px;
	font-family: "Oswald", sans-serif;

}

.btn {
	border: 1px solid black;
	color: black;

}

.btn:hover {
	background-color: yellow;
}

#signout
{
	background-color: red;
	border-radius: 35px;
	width: 8em;
	z-index: 9999;
}


