:root {
    --red: rgb(255, 0, 0);
    --yellow: rgb(255, 255, 0);
    --green: rgb(0, 255, 0);
}

*::-webkit-scrollbar {
    display: none;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

.hero {
    color: white;
    font-family: "Bebas Neue";
    font-size: 10em;
    pointer-events: none;
    margin: 0px;
    font-weight: 900;
}

h1>#zen {

    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right,
            var(--red),
            var(--yellow),
            var(--green),
            var(--red));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}


#subtitle {
    color: white;
    font-family: "Teko";
    font-size: 2em;
    margin-top: 0px;
    font-weight: 700;


}

#intro {
	/* padding-left: 5%; */
	font-family: "Oswald";
	font-weight: 600;
	color: white;
	font-size: 4em;
}

#panel_1 {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
}

#panel_2 {
    background-color: blue;
}

.panels {
    overflow: scroll;
    /* // will kill scrollTrigger if scroller: ".panels" is not set
		// required for scroll-snap // dev remove on last panel for content after? */
    height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
}

.panel {
    box-shadow: 40px red;
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    background: #1d1e22;

}

#tdl {
	font-family: Oswald;
	font-size: 4em;
	color: black;
}

body {
    margin: 0;
    height: 100vh;
}

.wrapper {
    overflow-x: hidden;
    position: relative;
}



.container {
    display: flex;
    width: 300vw;

    .col {
        /* display: flex;*/
        gap: 3em;
        width: 50vw;
        border: 2px solid black;

        p {
            font-size: .8rem;
        }
    }

    section {
        width: 100vw;
        padding: 20vw 10vw;

        h1 {
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            width: 50vw;
        }

    }
}

section {
    height: 100vh;

}

#todo
{
    background-color: red;

    font-family: "Oswald";
    place-items: center;
    height: 40px;
}

#doing
{
    background-color: yellow;
    font-family: "Oswald";
    place-items: center;
    height:40px
}

#done
{
    background-color: green;
    font-family: "Oswald";
    place-items: center;
    height:40px;
}

.btn
{
    margin: 5px;
    border: 2px solid blue;
}